.vertical-carousel {
  display: block;
  position: relative;
  overflow: hidden;
}
.vertical-carousel-box,
.vertical-carousel-box .item {
  position: relative;
  height: 100%;
  width: 100%;
  margin: 0;
}
.vertical-carousel-box .item {
  overflow: hidden;
}
.vertical-carousel-indicators {
  z-index: 1000;
  position: fixed;
  top: 50%;
  right: 30px;
  text-align: center;
  padding: 0;
  margin: -40px 0 0 0;
}

.vertical-carousel-box {
  -webkit-transition: transform 600ms;
  -moz-transition: transform 600ms;
  -ms-transition: transform 600ms;
  -o-transition: transform 600ms;
  transition: transform 600ms;
}
/*# sourceMappingURL=vertical_carousal.css.map */